body {
    margin:0px;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: 40vw 10vw;
    grid-auto-rows: 7vh;
    row-gap: 5px;
}

.todo-text {
    border-radius: 20px;
    font-size: 1.5rem;
}

.todo-add {
    border-radius: 10px;
}

.task-container {
    display: grid;
    align-content: center;
}