body {
    margin: 0px;
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);

    display: grid;
    justify-content: center;
    align-content: center;
}

.night {
    position: relative;
    height: 80vh;
    width: 70vw;

    background-image: url('./assets/night.png');
    background-size: cover;
    overflow: hidden;
}

.surface {
    display: block;
    height: 150px;
    width: 200%;
    background-image: url('./assets/surface.png');
    background-repeat: repeat-x;

    position: absolute;
    bottom: 0;
    left: 0;

    animation: move 5s linear infinite;
}


@keyframes move {
    100% {
        transform: translateX(-1000px);
    }
}