body {
    margin: 0px;
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);

    display: grid;
    justify-content: center;
    align-content: center;
}

.night {
    height: 80vh;
    width: 70vw;

    background-image: url('./assets/night.png');
    background-size: cover;
}